*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f0f0f0;
}

nav{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 450px;
    width: 100%;
    height: 90px;
    padding: 15px 25px 15px 25px;
    background-color:#f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
}

nav h1 span:nth-child(1){
    color: gray;
}

p, li{
    color: gray;
}

.categories-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.categories-container a{
    display: flex;
    text-decoration: none;
    color: gray;
    font-size: 17px;
    margin: 0 10px 0 10px;
    transition: all 0.3s ease-in-out;
}

.categories-container a span{
    margin-left: 10px;
}

.categories-container a:hover{
    color: black;
}

main{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 25px;
    margin-top: 90px;
}

.left-content-container{
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-color: white;
    min-width: 500px;
}

.left-content-container p, .left-content-container a{
    margin: 25px 0;
    margin-left: 25px;
    margin-right: 25px;
}

.left-content-container h1{
    margin-left: 25px;
    margin-top: 15px;
}

.left-content-container ul{
    padding-left: 50px;
}

.left-content-container img{
    object-fit: cover;
}

.right-content-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    height: 100%;
}

.upper-content-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 30%;
    background-color: white;
    min-width: 810px;
    margin: 0 10px 0 10px;
}

.upper-content-container img{
    width: 40%;
    object-fit: cover;
}

.description-container{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.description-container h1, .description-container p, .description-container a{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom-content-container{
    display: flex;
    flex: 1;
    height: 70%;
    flex-direction: row;
    margin: 10px;
}

.bottom-content-container div{
    width: 50%;
    background-color: white;
    min-width: 400px;
}

.bottom-description-container{
    padding: 25px;
}

.bottom-content-container div:nth-child(1){
    margin-right: 10px;
}

.bottom-content-container div img{
    width: 100%;
}

.bottom-content-container h1{
    margin: 20px 0 20px 0;
}

.left-content-container, .right-content-container {
    height: 100%;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    min-width: 1350px;
    padding: 15px 25px 15px 25px;
    background-color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-left-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-left-container h1{
    margin-right: 15px;
}

.footer-right-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-right-container a{
    text-decoration: none;
    color: gray;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
}

.footer-right-container a:hover{
    color: black;
}

@media screen and (max-width: 540px){
    nav{
        width: 100%;
        min-width: 0;
    }

    .categories-container a{
        font-size: 15px;
    }
    main{
        flex-direction: column;
    }

    h1{
        font-size: 25px;
    }

    .left-content-container{
        width: 100%;
        min-width: 0;
    }

    .right-content-container{
        width: 100%;
    }

    .upper-content-container{
        flex-direction: column;
        margin-top: 10px;
        margin-left: 0;
        min-width: 0;
        width: 100%;
    }

    .upper-content-container img{
        width: 100%;
    }

    .bottom-content-container{
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    .description-container{
        width: 100%;
    }

    .bottom-content-container div{
        width: 100%;
        min-width: 0;
        margin-bottom: 10px;
    }

    .bottom-content-container div:nth-child(1){
        margin-right: 0;
    }

    .footer-container{
        min-width: 0;
    }

    .footer-right-container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-container a{
        font-size: 12px;
    }

    .footer-container a:last-child{
        margin-right: 3px;
    }
   
    .footer-left-container h1{
        font-size: 15px;
        margin-right: 5px;
    }

    .footer-left-container p{
        font-size: 12px;
    }
}
    