*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 40%;
    background-color: #2d2d2d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-bar{
    display: flex;
    flex-direction: row;
}

.search-bar input{
    width: 100%;
    height: 30px;
    font-size: 20px;
    padding: 3px;
    background-color: #2d2d2d;
    color: #f0f0f0;
    border: none;
    border-bottom: 2px solid #f0f0f0;
    outline: none; 
}

.search-bar button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #2d2d2d;
    border: none;
    color: #f0f0f0;
}

.todo-item-container{
    display: flex;  
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}

.name-edit{
    width: 40%;
    margin-right: 10px;
    padding: 4px;
    background-color: #2d2d2d;
    color: #f0f0f0;
    border: none;
    border-bottom: 2px solid #f0f0f0;
    outline: none; 
}

.date-edit{
    width: 40%;
    margin-right: 10px;
    padding: 4px;
    background-color: #2d2d2d;
    color: #f0f0f0;
    border: none;
    border-bottom: 2px solid #f0f0f0;
    outline: none; 
}

.save-btn{
    width: 20%;
    background-color: #2d2d2d;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.save-btn:hover{
    background-color: #1c1c1c;
}  

.edit-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.todo-items-container{
    display: flex;
    flex-direction: column;
}

.checkbox{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.name-display{
    margin-right: 10px;
    width: 50%;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-btn{
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2d2d2d;
    color: #f0f0f0;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.todo-item-container button span{
    font-size: 24px;
}

.add-item-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.add-item-container input:nth-child(1){
    height: 30px;
    margin-right: 10px;
    font-size: 20px;
    padding: 3px;
    width: 50%;
    background-color: #2d2d2d;
    color: #f0f0f0;
    border: none;
    border-bottom: 2px solid #f0f0f0;
    outline: none;
}

.add-item-container input:nth-child(2){
    height: 30px;
    margin-right: 10px;
    width: 30%;
    background-color: #2d2d2d;
    color: #f0f0f0;
    border: none;
    border-bottom: 2px solid #f0f0f0;
    outline: none;
}

.add-item-container button{
    padding: 2px;
    height: 30px;
    width: 20%;
    background-color: #2d2d2d;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.add-item-container button:hover{
    background-color: #1c1c1c;
}

.delete-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    color: gray;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.date-display{
    color: gray;
    font-size: 18px;
    align-self: center;
}

.delete-btn span{
    font-size: 16px;
}

.delete-btn:hover{
    background-color:#DCDCDC;
    color: black;
    cursor: pointer;
}
