#map-container{
    width: 400px;
    height: 400px;
}

.upper-content {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

#screenshot-container{
    width: 410px;
    height: 420px;
    border: 1px solid black;
}